---
// @ts-ignore
import RollPage from "@components/tools/RollPage.svelte";
// @ts-ignore
import AutoRoll from "@components/tools/AutoRoll.svelte";
// @ts-ignore
import Sets from "@components/stats/Sets.svelte";
---

<div
  class="fixed bottom-16 left-0 z-50 w-full h-64 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600"
>
  <p>Tools</p>
  <RollPage client:load />
  <AutoRoll client:load />
  <p>Stats</p>
  <Sets client:load />
</div>
