---
// @ts-ignore
import RollPage from "@components/tools/RollPage.svelte";
---

<div
  class="fixed bottom-16 left-0 z-50 w-full h-64 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600"
>
  <RollPage client:load />
</div>
